<% if logged_in? %>

  <h1>
    You are logged in as <%= current_user.username %>.
    <small>Click the button below to log out.</small>
  </h1>
  <%= button_to "Logout", logout_path, method: :delete %>

<% else %>

  <h1>Please Log In</h1>
  <%= link_to 'Login with Github', '/auth/github' %>

<% end %>

<% flash.each do |name, msg| -%>
	<%= content_tag :div, msg %>
<% end -%>